html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
*  {
  box-sizing: inherit;
}
body > header {
  position: relative;
  height: 100px;
  text-align: center;
}
.gender {
  margin-top: 50px;
  text-align: center;
}
.gender button {
  margin: 20px;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.gender .male {
  background-color: rgba(52, 152, 219, 1.0);
}
.gender .female {
  background-color: rgba(246, 36, 89, 1.0);
}
.fa-male, .fa-female {
  font-size: 156px;
}
